@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-void: #f7f7fa;
  --color-surface: #ffffff;
  --color-surface-hover: #eeeef2;
  --color-hover: #7a4040;
  --color-border-subtle: #e0e0e6;
  --color-sidebar-border: #5a6141;
  --color-trace: #7c5cf0;
  --color-trace-dim: #682d32;
  --color-text-primary: #1a1a24;
  --color-text-muted: #6b6b78;
  --color-bg-settings: #3D0B0E;
}

.dark {
  --color-void: #161212;
  --color-surface: #070606;
  --color-surface-hover: #1c1c26;
  --color-hover: #682d3275;
  --color-border-subtle: #26262f;
  --color-sidebar-border: #ffffff;
  --color-trace: #c59397;
  --color-trace-dim: #682d32;
  --color-text-primary: #ffffff;
  --color-text-muted: #8b8a99;
}

.font-display {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, sans-serif;
}

.home-fixed {
  --color-void: #000000;
  --color-surface: #13131a;
  --color-surface-hover: #1c1c26;
  --color-border-subtle: #26262f;
  --color-trace: #ffffff;
  --color-trace-dim: #682d32;
  --color-text-primary: #ffffff;
  --color-text-muted: #8b8a99;
}